@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

div{
	display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 24%;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

p{
    padding: 5px;
}

h1{
    padding: 5px;
}
img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}



@media  screen and (max-width: 1200px){
	body{
		flex-wrap: wrap;
		    justify-content: space-between;
	}

	    div {
        width: 49%;
        margin: 1px;
    }    

}

@media  screen and (max-width: 800px){
    body{
        flex-wrap: wrap;
        justify-content: space-between;
    }

        div {
        width: 100%;

    }    

    h1{
        font-size: 32px;
    }

}


@media  screen and (max-width: 500px){
    body{
        flex-wrap: wrap;
        justify-content: space-between;
    }

        div {
        width: 100%;

    }    

}


